#h {
  padding-top: 36px;
  background-color: rgba(16, 28, 38, 1);
  padding-bottom: 5px;
  .h {
    display: flex;
    align-items: center;
    img {
      padding-left: 53px;
    }
    .hp {
      display: flex;
      align-items: center;
      gap: 143px;
      .h-left {
        margin-left: 340px;
        nav {
          display: flex;
          gap: 29px;
          height: 30px;
          a {
            color: rgba(186, 185, 185, 1);
          }
          a:hover {
            color: #fff;
            border-bottom: 1.4px solid #fff;
            padding-bottom: 5px;
          }
        }
      }
      .h-right {
        display: flex;
        align-items: center;
        gap: 23px;
        a {
          padding: 8px 30px;
          border: 1.2px solid rgba(206, 206, 206, 1);
          color: rgba(206, 206, 206, 1);
          border-radius: 22px;
          background-color: rgba(16, 28, 38, 1);
        }
        a:hover {
          background-color: rgba(240, 231, 20, 1);
          color: black;
          border: none;
          box-shadow: 0 0 15px rgba(240, 231, 20, 1);
        }
      }
    }
  }
}
#s1 {
  position: relative;
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: rgba(16, 28, 38, 1);
  .s1 {
    display: flex;
    justify-content: space-between;
    position: relative;

    .s1-img {
      img {
        width: 600px;
      }
    }
    .img2 {
      position: absolute;
      bottom: 30px;
      right: 520px;
      img {
        width: 190px;
      }
    }
    .s1-text {
      padding-left: 43px;
      h1 {
        font-weight: 700;
        font-style: Bold;
        font-size: 50px;
        line-height: 66px;
        color: #fff;
      }
      p {
        padding-top: 18px;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #fff;
        padding-bottom: 23px;
      }
      .btn {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 1px;
        margin-bottom: 40px;
        button {
          display: flex;
          align-items: center;
          padding: 11px 22px;
          border-radius: 23px;
          background-color: rgba(240, 231, 20, 1);
          a{
            color: #000;
            font-size: 20px;
          }
          ion-icon{
            font-size: 23px;
          }
        }
        a {
          font-size: 19px;
          display: flex;
          align-items: center;
          color: #fff;
          ion-icon {
            color: rgba(16, 28, 38, 1);
            margin-right: 5px;
            font-size: 23px;
            background-color: #fff;
            border-radius: 39px;
          }
        }
      }
      .akci {
        display: flex;
        gap: 40px;
        .loll {
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            color: rgba(240, 231, 20, 1);
            font-size: 38px;
          }
          p {
            margin-top: -20px;
            font-size: 13px;
          }
        }
      }
    }
    .yellov {
      position: absolute;
      background-color: rgba(240, 231, 20, 1);
      border-radius: 34px;
      padding: 5px 5px;
      left: 603px;
      bottom: 503px;
    }
    .y2 {
      position: absolute;
      background-color: rgba(240, 231, 20, 1);
      border-radius: 34px;
      padding: 9px 9px;
      left: 803px;
      bottom: 553px;
    }
    .y3 {
      position: absolute;
      background-color: rgba(240, 231, 20, 1);
      width: 60px;
      height: 60px;
      left: 503px;
      bottom: 353px;
      clip-path: polygon(
        50% 0%,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0% 50%,
        40% 40%
      );
    }
    .y3:hover {
      background-color: rgba(240, 231, 20, 1);
      box-shadow: 0 0 25px rgba(240, 231, 20, 0.6);
    }

  }
  .logo {
    padding-top: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .oo:hover {
    transform: translateY(-15px);
  }
}
